#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday {
  abbr {
    cursor: default;
    text-decoration: none;
    font-weight: 400;
  }
}

.react-calendar__month-view__days__day {
  position: relative;

  &:hover {
    opacity: 0.8;
  }
}
